<h1><%= t(:editing_student, scope: [:panel, :text]) %></h1>

<%= render 'form' %>

<%= link_to t(:show, scope: [:panel, :buttons]), @student %> |
<%= link_to t(:back, scope: [:panel, :buttons]), students_path %>
