<h1><%= t(:editing_courses, scope: [:panel, :text])%></h1>

<%= render 'form' %>

<%= link_to t(:show, scope: [:panel, :buttons]), @course %> |
<%= link_to t(:back, scope: [:panel, :buttons]), courses_path %>
